.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
  cursor: pointer;
}